<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements" style="align-items: center;">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef >Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

      <!-- Id Column -->
      <ng-container matColumnDef="s/n">
        <th mat-header-cell *matHeaderCellDef >Id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef >Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

   <!-- Name Column -->
   <ng-container matColumnDef="names">
    <th mat-header-cell *matHeaderCellDef >Names</th>
    <td mat-cell *matCellDef="let row">{{row.name}}</td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let row" class="action-link"> 
      <a ><mat-icon color='primary'>security</mat-icon></a> 
      <a ><mat-icon color='warn'>delete</mat-icon></a>  
    </td>
  </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
